// Specific CSS for your home-page
.header {
margin-left: 36%;
margin-top: 50%;
}

.buttons {
color: rgb(255, 255, 255);
padding: 8px 24px;
border-radius: 4px;
background: #aba9ad;
margin-left: 36%;
margin-bottom: auto;
height: 20ch;
}

.title1 {
  height:0%
}
.title2 p {
  text-shadow: 1px 1px #ffffff;
  font-size: 80px;
}

.title1 p {
  font-size: 40px;
  margin: 0;

}
