// Specific CSS for your home-page
.header {
margin-left: 1px;
margin-top: 70%;
}

.buttons {
color: rgb(255, 255, 255);
padding: 8px 24px;
border-radius: 4px;
background: #aba9ad;
margin-left: 1%;
margin-bottom: auto;
}

.header h3 {
  font-size:large;
}
.header h1 {
  text-shadow: 1px 1px #ffffff;
  font-size:xx-large;
}
