<div class="topnav">
  <a href="#home" class="active"><strong>TR8CK</strong></a>
  <!-- Navigation links (hidden by default) -->

  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
