.chat {
  display:flex;
  flex-direction: column-reverse;
  position: relative;
  bottom: -200px;
  height: 200px;
  width: 300px;
  color: rgb(255, 255, 255);
  z-index: 3;
}

.invisible {
  visibility: hidden;
}

.bothere {
background-color: white;
color: black;
margin: 1px;
margin-right: 100px;
width: 200px;

}
.userhere {
background-color: #E94560;
color: black;margin: 1px;
width: 200px;
margin: 1px;
margin-left: 100px;
}
