.chat {
  display:flex;
  flex-direction: column-reverse;
  position: relative;
  bottom: -200px;
  height: 200px;
  width: 300px;
  color: rgb(255, 255, 255);
  z-index: 3;
}

.invisible {
  visibility: hidden;
}

.bothere {
background-color: #fff3f5b5;
color: black;
margin: 1px;
margin-right: 100px;
width: 200px;
border-radius: 20px 20px 20px 0px;
padding: 13px;
font-size: 18px;
}

.userhere {
background-color: #F05454;
color: black;margin: 1px;
width: 200px;
margin: 1px;
margin-left: 100px;
padding: 13px;
border-radius: 20px 20px 0px 20px;
font-size: 18px;
}

#clickme {
  z-index: 10;
}
