.main {
  padding-top: 20px;
  background: #EDE6DB;
  display: flex;
  flex-direction: column;
  height:100vh;
  align-items: center;
  color: #1A3C40;
}

.habitbody {
  margin-top: 5%;
  display: flex;
  width: 330px;
  background: #417D7A;
  border: 1px solid #1A3C40;
  filter: drop-shadow(2px 2px 2px rgba(27, 72, 68, 0.5));
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}

.habitallcontent {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: space-between;
  flex: auto;
}

.habitinfo {
  display: flex;
  padding: 4px;

  color: #EDE6DBD9;
  border-radius: 1px;
  align-items: center;
  padding: 4%;
  font-size: smaller;
  width: 120px;

  font-family: 'Kanit', sans-serif;;

}

.habittitle {
  display: flex;
  padding: 20px;
  color: #EDE6DB;
  border-bottom: #EDE6DB solid 1px;
  align-items: center;
  padding: 4%;
  font-size: large;

  font-family: 'Kanit', sans-serif;
  font-style: bolder;

}

.link {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.searchbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index:1;
}
