.mainindex {
  background: #30475E;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  height:100vh;
  align-items: center;
  color: #16213E;

}

.habitbody {
  margin-top: 5%;
  display: flex;
  width: 330px;
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.habitallcontent {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: space-between;
  flex: auto;
}

.habitinfo {
  display: flex;
  padding: 4px;
  color: #F05454;
  border-radius: 1px;
  align-items: center;
  padding: 2%;
  font-size: smaller;
  // width: 120px;
  font-family: 'Kanit', sans-serif;
}

.habittitle {
  display: flex;
  padding: 20px;
  color: #F05454;
  border-bottom: #F05454 solid 1px;
  align-items: center;
  padding: 4%;
  font-size: large;
  font-family: 'Kanit', sans-serif;
  font-style: bolder;
}

.link {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.searchbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index:1;
}

.padding {
padding-top: 70px;
padding-bottom: 100px;

}


.habittitle {
  font-style:bold;
  font-size: x-large;
  font-style: italic;
}


.habitinfo {
  font-style: italic;
}

.fa-regular {
  color: #30475E;
}


