.searchbar {
  padding: 10px;
  display: flex;
  width: 100%;
  background-color: #EDE6DB;
  position: fixed;
  top: 90vh;
  z-index:2;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #1A3C40;

}
