.show_title {
  margin-left:33px;
  margin-right:40px;
  margin-top:100px;
  text-align:center;
  padding:10px;
  background:#E94560;
  color:#FFFFFF;
  border-radius: 4px;
}

.notes {
  margin: 10px;
  margin-top: 40px;
  color:#FFFFFF;
  display: flex;
  justify-content: center;
  font-size: larger;
}

.chart1 {
  padding:10px;
  color:#FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;

}



.chart1 h2 {
  display: flex;
  justify-content: center;
}

.chart2 {
  padding:10px;
  color:#FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;

}

.chart2 h2 {
  display: flex;
  justify-content: center;
}

h2 {
  color: #FFFFFF;
}

.chart1 {
  margin: 36px;
}

.remove {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.remove a {
  padding: 10px 130px;
  border-radius: 4px;
  background: #FFFFFF;
  text-decoration: none;
  color: #E94560;
  font-family: 'Kanit', sans-serif;
}

.fa-trash-can::before {
  font-size: 14px;
  margin-left: 287px;
}
