.show_title {
  margin-left:33px;
  margin-right:40px;
  margin-top:100px;
  text-align:center;
  padding:11px;
  background:#E94560;
  color:#FFFFFF;
}

.notes {
  margin: 35px;
  color:#FFFFFF
}

.show_img {
  margin: 31px;
  margin-left: 19px;
}

h2 {
  color: #FFFFFF;
}

.chart1 {
  margin: 36px;
}
