<div class="main" style="background-color:#16213E;">
  <div class="header">
    <h3>Get back on</h3>
      <h1><strong>TR8CK</strong></h1>
  </div>
    <%= link_to "Login", "/habits", class: "buttons" %>
</div>
