 /* Style the navigation menu */
 .topnav {
  overflow: hidden;
  background-color: #EDE6DB;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #1A3C40;
  position: sticky;

  top: 0;
  z-index:1;
  filter: drop-shadow(2px 2px 2px rgba(27, 72, 68, 0.2));
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #ffffff;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #16213E;
  display: block;
  position: absolute;
  right: 30px;
  top: 0;
  &:hover {
    color: #1A3C40;
  }
}

/* Style the active link (or home/logo) */
.active {
  background-color: #16213E;
  color: white;
  margin-left: 30px;
  font-size: 40px;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  &:hover {
    color: #1A3C40;
  }
}

.icon {
  font-size: 40px;
  &:hover {
    color: #1A3C40;
  }
}
