 /* Style the navigation menu */
 .topnav {
  overflow: hidden;
  background-color: #30475E;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #EDE6DB;
  position: fixed;
  top: 0;
  z-index:4;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  font-family: 'Kanit', sans-serif;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  margin-left: 30px;
  padding: 15px;


  // a {
  //   color: #E94560;
  // }
}

/* Style navigation menu links */
.topnav a {
  color: #ffffff;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}




/* Style the hamburger menu */
.topnav a.icon {
  background: #30475E;
  display: block;
  position: absolute;
  right: 30px;
  top: 0;
  &:hover {
    color: white;
  }
}

/* Style the active link (or home/logo) */
.active {
  background-color: #30475E;
  color: white;
  margin-left: 30px;
  margin-top: 5px;
  font-size: 40px;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  &:hover {
    color: white;
  }
}

.icon {
  font-size: 40px;
  &:hover {
    color: white;
  }
}

img {
  width: 38px;
  margin-left: -16px;
  margin-top: -9px;
}

p {
  margin: 14px;
  font-size: 36px;
  margin-inline: 10px;

}
