<div class="chat invisible" data-search-habits-target="chat">
<p> This habit doesn't exist yet. Would you like to create one?</p>
<form>
<input type="text" data-search-habits-target="chatinput">
<input type="submit" value="Yes!">
</form>
</div>
