<div class="lsitmain">
  <div>
    <div data-search-habits-target="habits">
      <% @habits.each do |habit| %>
        <a href="https://random.dog/" class="link">
          <div class="habitbody">
            <div class="habitallcontent">
              <div class="habittitle">
                <%= habit.title %>
              </div>
              <div class="habitinfo">
                <%= habit.description %>
              </div>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
