<div class="searchbar">
  <div>
        <%= form_with url: habits_path, method: :get, html: { id: "searchform", class: "mb-4", data: { search_habits_target: "form" } } do |f| %>
          <%= f.text_field :query,
                            class: "form-control",
                            placeholder: "Find a Habit",
                            value: params[:query],
                            data: {
                              search_habits_target: "input",



                            } %>
        <% end %>
  </div>
</div>
