
<div class=container>
    <div class=habit_title>
      <h1 style="margin-left:33px; margin-right:40px; margin-top:32px;
                text-align:center; padding:11px; background:#E94560; color:#FFFFFF;"
      > <%= params[:creationquery]  %> </h1>
    </div>
    <div class=notes style="margin: 35px; color:#FFFFFF">
      <h2>Notes:</h2>
      <p>Once upon a time I made a promise to
        call my grandma every day.
        I want to make this promise a habit. Now
        I can track this with my new app TR8CK</p>
    </div>
    <div style="margin: 31px;">
      <%= image_tag "moodpink.png", height: 180 %>
      <br>
      <br>
      <%= image_tag "repspink.png", height: 178 %>
    </div>
</div>
