<div data-controller="search-habits" class="mainindex">
<div class="padding">
  <%= render "list", habits: @habits %>
</div>
<% if params[:new_habit].present? %>
  <%= render "chat", habits: @habits %>
<% end %>
  <%= render "search", habits: @habits %>
</div>
