<div class="main">
    <% @habits.each do |habit| %>
      <div class="habitbody">
        <div class="habitallcontent">
          <div class="habittitle">
            <%= habit.title %>
          </div>
          <div class="habitinfo">
            <%= habit.description %>
          </div>
        </div>
      </div>
    <% end %>
</div>
