<div data-controller="search-habits" class="mainindex">
<div class="padding">
  <%= render "list", habits: @habits %>
</div>
  <%= render "chat", habits: @habits %>
  <%= render "search", habits: @habits %>
</div>
