
<div class=container>
    <div class=show_title>
      <h1>Call grandma</h1>
    </div>
    <div class=notes>
      <h2>Notes:</h2>
      <p>Once upon a time I made a promise to
        call my grandma every day.
        I want to make this promise a habit. Now
        I can track this with my new app TR8CK</p>
    </div>
    <div class="chart1">
        <% dates = []
        Faker::UniqueGenerator.clear
        7.times do
          dates << [(Faker::Date.unique.backward(days: 14)), rand(1..5), ]
        end
        %>
        <%# <%= area_chart dates.sort_by { |el| el[0] } %>
        <h2>Mood:</h2>
        <%= area_chart dates, colors: ["orange", "#250000"] %>
    <div>
      <br>
      <br>

    <div class="chart2">
        <% dates = []
          Faker::UniqueGenerator.clear
          7.times do
            dates << [(Faker::Date.unique.backward(days: 14)), rand(10..60), ]
          end
          %>
          <h2>Duration</h2>
          <%= area_chart dates.sort_by { |el| el[0] } %>
    </div>
</div>
