
<div class=container>
    <div class=show_title>
      <h1>Call grandma</h1>
    </div>
    <div class=notes>
      <h2>Notes:</h2>
      <p>Once upon a time I made a promise to
        call my grandma every day.
        I want to make this promise a habit. Now
        I can track this with my new app TR8CK</p>
    </div>
    <div class=show_img>
      <%= image_tag "moodpink.png", height: 180 %>
      <br>
      <br>
      <%= image_tag "repspink.png", height: 178 %>
    </div>
</div>


