
.logo {
  margin-top: 40px;
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  margin: 60px 43px;
  position:fixed;

}

.logo h1 {
  // font-size: 90px;
  color: #F5F4F4;
  font-family: 'Kanit', sans-serif;
  font-variant: bold;
  font-style: italic;
  margin: 0px 40px;
  position:fixed;
  margin-top: 225px;
  font-size: 65px;
  margin-right: -72px;
}

 logo h3 {
   font-size:30px;
   color: #F5F4F4;
   font-variant: bold;
   font-style: italic;
 }


 .loginbackground {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   background: linear-gradient(180deg, #30475E 0%,rgba(18, 20, 57, 0.1) 60%, rgba(0, 0, 0, 0.2) 100%);
 }

 .logincontainer {
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #F5F4F4;
   z-index:1;
   position:fixed;
   margin-top: 150px;
 }
 element.style {
   color: #F5F4F4;
   font-size: 1.2em;
 }

 .devisebutton {
   margin: 3px;
   padding: 4px 7px;
   text-decoration: none;
   color: rgba(255, 255, 255, 0.5);
   border: 2px solid #e7445f00;
   transition-duration: 0.4s;
   border-radius: 2px
 }
 .devisebutton:hover {

   color: #F5F4F4;
 }
 .centrebutton {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .loginbutton {
   margin: 3px;
   padding: 4px 85px;
   text-decoration: none;
   background-color: #F05454;
   color: #F5F4F4;
   border: 2px solid #F05454;
   transition-duration: 0.4s;
   border-radius: 10px
 }
 .loginbutton:hover {

   color: #F5F4F4;
 }

 .logincheck {
   color: #F05454;
 }


 .loginpopup {
   position: relative;
   z-index:5;
 }

 .form-check-label {
   color: #F05454 !important;
 }
 .form-control {
   background-color: rgba(48, 71, 94, 0.9) !important;
   border-radius: 25px;
   color: rgb(255, 255, 255) !important;
 }

 .form-inputs {
  margin-top: 100px;
 }

 ::placeholder {
  color: rgba(240, 84, 84, 0.7) !important;
 }

.sign-up-container {
  position: inherit!important;
}
